<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>TapCard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "tailwind", "application", "data-turbo-track": "reload", as: "style" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-TapCard-lightGray">
    <%= render "shared/flashes" %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
